a,
a:visited,
a:link {
  text-decoration: none;
  color: var(--font-color);
  font-size: var(--font-size);
  font-weight: var(--fw-medium);
}

.nav-bar ul li a:hover {
  border-bottom: 2px solid black;
}

.nav-bar ul li:active {
  transform: scale(0.98);
}
