.header {
  margin-bottom: 10px;
  width: 90vw;
  padding: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  height: 120px;
  padding: 0 20px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 10px 20px -20px;
}

.logo-div {
  flex-basis: 20%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo a img {
  width: 100%;
  height: auto;
}

.nav-bar {
  flex-basis: 60%;
  display: flex;
  justify-content: center;
}

ul {
  display: flex;
  width: 100%;
  padding: 0 8rem;
  justify-content: space-between;
}
li {
  display: inline;
}

.icons {
  flex-basis: 20%;
  gap: 3rem;
}
.icon {
  position: relative;
  display: flex;
  align-items: center;
}

.icon-large {
  position: relative;
}

.icon-large i {
  font-size: 20px;
}

.fly-item {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 1.1rem;
  height: 1.1rem;
  background-color: var(--button-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 12px;
}

.icon:hover {
  color: var(--button-color);
}
.cart-div {
  gap: 1.3rem;
}

.menu {
  cursor: pointer;
}
.trigger {
  font-size: 1.5em;
  display: flex;
  padding: 0.25em;
  margin-right: 0.25em;
}

.desktop-hide {
  display: none;
}
