.header {
  margin-bottom: 10px;
  width: 90vw;
  padding: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-bg-color);
  height: 120px;
  padding: 0 20px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 10px 20px -20px;
}
.menu {
  flex-basis: 20%;
  position: relative;
}

.menu-list {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.menu-list {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  position: absolute;
  top: 100%;
  left: 0;
  width: 175px;
  height: 200px;
  padding: 1rem;
  border: 1px solid var(--border-color);
  background-color: rgb(250, 250, 250);
}

.menu-list > ul > div {
  margin-bottom: 20px;
  border-bottom: 1px solid var(--border-color);
}
.menu-list > ul > div:hover {
  transform: scale(0.99);
}
.menu-list > ul > div > li > a {
  font-size: var(--font-small);
  font-weight: var(--fw-medium);
}

.menu-list.active {
  opacity: 1;
  visibility: visible;
}

.close-btn {
  position: absolute;
  top: 2px;
  right: 5px;
  padding: 5px;
  color: var(--primary-color);
  font-weight: var(--fw-bold);
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 24px;
}
.close-btn:hover {
  transform: scale(1.1);
}
.logo-div {
  flex-basis: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo > a > img {
  width: 100%;
  height: auto;
}

.nav-bar {
  flex-basis: 60%;
  display: flex;
  justify-content: center;
}

.nav-bar > ul {
  display: flex;
  width: 100%;
  padding: 0 8rem;
  justify-content: space-between;
}
li {
  display: inline;
}

.icons {
  flex-basis: 20%;
  gap: 3rem;
}

.icon {
  position: relative;
  display: flex;
  align-items: center;
}
.cart-div {
  gap: 1.3rem;
}

.icon-large {
  position: relative;
}

.icon-large i {
  font-size: 20px;
}

.fly-item {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 1.1rem;
  height: 1.1rem;
  background-color: var(--primary-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 12px;
}

.icon:hover {
  transform: scale(1.1);
}

/* .trigger {
  font-size: 1.5em;
  display: flex;
  padding: 0.25em;
  margin-right: 0.25em;
} */

.desktop-hide {
  display: none;
}
