.hero {
  margin: 1rem 2rem;
}
.hero .glide__slides {
  background-color: var(--bg-color);
  position: relative;
  height: 70vh;

  width: 100%;

  overflow: hidden;
}
.glide__slide {
  width: 100%;
}

.hero .center {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
  padding-top: 3rem;
}

.hero .left {
  position: absolute;
  top: 0%;
  left: 20rem;
  opacity: 0;
  transition: all 1000ms ease-in-out;
}

.hero .left h1 {
  font-size: 3.4rem;
  margin: 1rem 0;
}

.hero .left .hero-btn {
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.6rem;
  margin-top: 1rem;
  background-color: var(--green);
  color: white;
}

.hero .right {
  flex: 0 0 50%;
  height: 100%;
  position: relative;
  text-align: center;
}

.hero .right img {
  position: absolute;
  object-fit: contain;
  width: 14vw;
  right: -15%;
  bottom: 0%;
  opacity: 0;
  transition: all 1000ms ease-in-out;
}

.glide__slide--active .center .right img {
  bottom: -3%;
  opacity: 1;
}

.glide__slide--active .left {
  opacity: 1;
  top: 35%;
}

.glide__bullet {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border-radius: 50%;
  margin: 0 5px;
}

.glide__bullet--active {
  background-color: #000;
}

@media only screen and (max-width: 1280px) {
  .hero .left {
    left: 0;
  }
  .center .right img.img1,
  .center .right img.img2,
  .center .right img.img3 {
    width: 21vw;
  }
}
@media only screen and (max-width: 999px) {
  .glide__slide--active .left {
    top: 8%;
  }

  .center .right img.img1,
  .center .right img.img2,
  .center .right img.img3 {
    width: 33vw;
  }
  .hero .left h1 {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 500px) {
  .glide__slide--active .left {
    top: 0;
    left: 2rem;
  }

  .center .right img.img1,
  .center .right img.img2,
  .center .right img.img3 {
    width: 60vw;
  }

  .hero,
  .hero .glide__slides {
    width: 100%;
    margin: 0;
  }
  .hero .glide__slide {
    width: 100%;
  }
  .hero .left h1 {
    font-size: 2rem;
  }
}
