@media only screen and (max-width: 768px) {
  main {
    width: 100vw;
  }

  .header {
    width: 100vw;
    padding: 1rem;
  }

  .icons {
    gap: 0.5rem;
  }

  .cart-div {
    margin-right: 1rem;
  }
  .mobile-hide {
    display: none;
  }
  .desktop-hide {
    display: block;
  }
}

@media only screen and (max-width: 992px) {
  .container {
    padding: 0 2em;
  }
  .nav-bar ul {
    padding: 0 2rem;
  }
}
