@media only screen and (max-width: 992px) {
  .container {
    padding: 0 2em;
  }
  .navbar ul {
    padding: 0 2rem;
  }
  /*  .cards-container {
    gap: 0px;
  } */
  .product-card {
    width: 33%;
  }
}

@media only screen and (max-width: 768px) {
  main {
    width: 100vw;
  }

  .header {
    width: 100vw;
    padding: 1rem;
  }

  .icons {
    gap: 0.5rem;
  }

  .mobile-hide {
    display: none;
  }
  .desktop-hide {
    display: block;
  }

  .product-card {
    width: 45%;
  }
}

@media only screen and (max-width: 480px) {
  #products-container {
    width: 100%;
    padding: 0;
  }
  .product-card {
    width: 100%;
  }
}
