img {
  width: 100%;
  vertical-align: middle;
}

strong {
  font-weight: var(--fw-bold);
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input::placeholder {
  font: inherit;
}

h1 {
  font-size: calc(1.3em + 1vw);
  font-weight: var(--fw-semi-bold);
  line-height: 1;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 1.2em;
  font-weight: var(--fw-semi-bold);
}

h4 {
  font-size: 1em;
  font-weight: var(--fw-medium);
}
