:root {
  /* Font size */
  --font-large: 24px;
  --font-size: 16px;
  --font-small: 13px;
  --font-smaller: 11px;

  --primary-color: #ff4d45;
  --card-color: #f3e9d9;

  --main-bg-color: #faf6f2;
  --bg-color: #ded1bd;

  --font-color: #1a1a1a;
  --border-color: #e5e8ec;

  --primary-100: #ffe1e0;
  --primary-300: #ffa6a3;

  --color2: #683102;
  --color6: #967c6d;

  /* font weight */
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  --trans-background-color: background-color 0.3s, color 0.3s;
  --trans-background: background-color 0.3s;
  --trans-color: color 0.3s;
}
