:root {
  --font-large: 24px;
  --font-size: 16px;
  --font-small: 13px;
  --font-smaller: 11px;

  /*  --primary-color: #f8f4eb; */
  /*  --primary-color: #f5f1eb; */
  --primary-color: #ffa566;
  --secondary-color: #ff4d45;
  --card-color: #fefdf9;

  --main-bg-color: #faf6f2;
  --button-color: #ff6b66;
  /*  --bg-color: #b29d8c; */
  --bg-color: #ded1bd;

  --font-color: #1a1a1a;
  --border-color: #e5e8ec;

  --primary-100: #ffe1e0;
  --primary-300: #ffa6a3;

  --color2: #683102;
  --color6: #967c6d;

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  --trans-background-color: background-color 0.3s, color 0.3s;
  --trans-background: background-color 0.3s;
  --trans-color: color 0.3s;
}
